@media (max-width: 600px) {
    nav {
        flex-flow: column wrap;
        padding: 0;
        border-radius: 10px;
    }

    nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    nav li:last-of-type a {
        border-bottom: none;
    }
}